

.brands-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 4px;
}
.brands-col{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.brands-col img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .brands-coll {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .brands-col {
        flex: 100%;
        max-width: 100%;
    }
    .brands-row{
        flex-direction: column;
    }
}
