
.ft-left, .ft-right{
    display: flex;
    flex: 1;
}
.flex-item{
    flex: 1;
}


.new-foot{
    background-color: #080810;
    height: auto;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ft-logo{
    margin: 50px;
    width: 20vw;
}
.ft-img{
    width: 30%;
    display: flex;
    justify-content: center;
}
.footer-li{
    color: white;
    margin: 5px;
}
.footer-h{
    align-self: inherit;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
.footer-a{
    color: white;
}
.ft-contact, .ft-site{
    display: flex;
    flex-direction: column;
    align-items: start;
}
