.services-holder{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.service-p{
    background-color: white;
    width: 90vw;
}
h3.service{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 0;
    width: 90vw;
}
h3.w-content{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 0;
}
h3.wo-content{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 0;

    transition: all 0.05s 0.5s steps(1, end);
}
.service-drop{
    background-color: lightgrey;
    margin: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.active-drop{
    height: auto;
    max-height: 1000px;
    overflow: auto;
}
.service-img{
    height: 45vh;
    max-width: 500px;
    margin: 10px;
}
.service-text{
    margin: 10px;
    font-size: calc(15px + 1vw);
}
@media screen and (width < 900px){
    .service-drop{
        flex-direction: column;
    }
    .service-img{
        width: 40vw;
        height: auto;
    }
}
